*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.nav a{
  border-bottom:2px solid transparent;
  padding-bottom:20px ;
}
.nav a.active{
  border-bottom: 2px solid lightblue;
}
html,body,#root,.app,.home-page,.div{
  height: 100%;
}
.wrapper{
  height: 100%;
}
.list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.list .pic{
  width: 30%;
}
.list .text{
  width: 70%;
  margin-left: 50px;
}
.btn{
  width: 80%;
  height: 45px;
  background: chartreuse;
  color: #fff;
  text-align: center;
  line-height: 45px;
}
.nav-item{
  margin: 20px;
}